@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


body {
    background-color: white;
}
.middle{
   
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;

}
.entity{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color:#2F6690;
    font-size: 30px;
    text-transform: lowercase;
    letter-spacing: 2px;
    float: left;

}
.entity:hover{
    color:#0B132B;
    

}
.since{
    margin-top: 10px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color:black;
    font-size: 12px;
    text-transform: lowercase;
    letter-spacing: 2px;
    clear:both;
    padding-top: 15px;
}
.tabs{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color:#2A2D34;
    font-size: 15px;
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px;

}
ul {
    list-style-type: none;
}
li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.chosen{
    color:#8884FF;
}

a {
    text-decoration: none;
    color:inherit
}
a:visited { 
    text-decoration: none; 
    color:inherit
}
.title1{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size:30px;
    padding-top:50px;
    letter-spacing: 5px;
	opacity:0.75;
}
.title2{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size:20px;
  letter-spacing: 5px;
opacity:0.75;
}
.line1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin: 25px;
    }
.image{
    width: 50px;
    height: 50px;

}
.column2 {
    float: left;
    width: 50%;
  }
.column1 {
   float: left;
   width: 33.33%;
   margin-top:15px;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .gimages{
      
    width: 300px;
    height: 169px;
   
    filter: none;
  }
  .gimages:hover{
    filter: grayscale(100%);
  }
  .subtitle1{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 12px;
    padding-top: 10px;
    letter-spacing: 1px;
  }
  .subtitle2{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #1A281F;
  }
  .social{
    margin-bottom: 50px;

}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  .fa:hover {
    opacity: 0.7;
  }
  

  .fa-facebook {
    background: #EFF1F3;
    color: #2A2D34;
  }
  
  .fa-twitter {
    background: #EFF1F3;
    color: #2A2D34;
  }

  .fa-instagram {
    background: #EFF1F3;
    color: #2A2D34;
  }

  .fa-linkedin {
    background: #EFF1F3;
    color: #2A2D34;
  }

  .icon{
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }

  #back-to-top {
    position: fixed;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #EFF1F3;
    color: #2A2D34;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
